[submodule "HiCT_Library"]
	path = HiCT_Library
	url = git@github.com:ctlab/HiCT_Library.git
	branch = master
[submodule "HiCT_Server"]
	path = HiCT_Server
	url = git@github.com:ctlab/HiCT_Server.git
	branch = master
[submodule "HiCT_WebUI"]
	path = HiCT_WebUI
	url = git@github.com:ctlab/HiCT_WebUI.git
	branch = master
[submodule "HiCT_Utils"]
	path = HiCT_Utils
	url = git@github.com:ctlab/HiCT_Utils.git
	branch = master
