[submodule "HiCT_WebUI"]
	path = HiCT_WebUI
	url = https://github.com/ctlab/HiCT_WebUI
[submodule "HiCT_Utils"]
	path = HiCT_Utils
	url = https://github.com/ctlab/HiCT_Utils
[submodule "HiCT_library"]
	path = HiCT_library
	url = https://github.com/ctlab/HiCT_library
[submodule "HiCT_Server"]
	path = HiCT_Server
	url = https://github.com/ctlab/HiCT_Server
	branch = master
